CompileFlags:
  Compiler: c++
  Add: [-Wall, -Wextra, -Werror, -std=c++98, --analyze]

Diagnostics:
  ClangTidy:
    Add: "*"
    Remove: [
      "llvmlibc*",
      "cppcoreguidelines-prefer-member-initializer",
      "fuchsia-overloaded-operator",
      "cert-dcl21-cpp",
	  "android-cloexec-socket",
	  "concurrency-mt-unsafe",
	  "cppcoreguidelines-pro-type-reinterpret-cast",
	  "hicpp-signed-bitwise",
	  "altera-id-dependent-backward-branch",
	  "altera-unroll-loops",
      "modernize-use-nullptr",
	  "modernize-use-auto",
	  "hicpp-use-auto",
	  "hicpp-no-array-decay",
	  "cppcoreguidelines-pro-bounds-array-to-pointer-decay",
	  "cppcoreguidelines-pro-bounds-pointer-arithmetic",
	  "fuchsia-default-arguments-calls",
	  "cppcoreguidelines-pro-type-vararg",
	  "hicpp-vararg",
	  "android-cloexec-accept",
	  "readability-implicit-bool-conversion",
	  "modernize-loop-convert",
	  "cppcoreguidelines-pro-type-const-cast",
	  "hicpp-special-member-functions",
	  "cppcoreguidelines-special-member-functions",
	  "readability-function-cognitive-complexity",
	  "cppcoreguidelines-avoid-magic-numbers",
	  "readability-magic-numbers",
	  "llvm-namespace-comment",
	  "cert-err33-c",
	  "hicpp-use-equals-default",
	  "modernize-use-equals-default",
	  "cert-err60-cpp",
	  "misc-non-private-member-variables-in-classes",
	  "readability-braces-around-statements",
	  "google-readability-braces-around-statements",
	  "hicpp-braces-around-statements",
	  "cppcoreguidelines-avoid-non-const-global-variables",
	  "cert-err58-cpp",
	  "readability-convert-member-functions-to-static",
	  "fuchsia-default-arguments-declarations",
	  "cppcoreguidelines-pro-bounds-constant-array-index",
	  "altera-struct-pack-align",
	  "bugprone-easily-swappable-parameters"
    ]
